# Python
__pycache__/
*.pyc
.venv/
*.egg-info/

# Node
node_modules/
dist/

# Environment
.env
.DS_Store

# Java
*.class
*.jar
*.war
*.ear
*.log
*.ctxt
.mtj.tmp/
hs_err_pid*
replay_pid*

# Archives
*.zip
*.tar.gz
*.rar
